# nginx proxy address - http://172.17.0.1:59043


x-logging: &default-logging
  options:
    max-size: '5m'
    max-file: '1'
  driver: json-file

name: rabbitmq
services:
  db:
    image: rabbitmq:management
    container_name: rabbitmq
    hostname: rabbitmq
    restart: always
    pull_policy: always
    logging: *default-logging
    environment:
      TZ: ${TZ:-America/New_York}
      NODE_IP_ADDRESS: 
      NODE_NAME: rabbit@rabbitmq
      RABBITMQ_DEFAULT_VHOST: /
      RABBITMQ_NODE_IP_ADDRESS: 
      RABBITMQ_NODENAME: rabbit@rabbitmq
      RABBITMQ_DEFAULT_USER: ${DB_ADMIN_NAME:-root}
      RABBITMQ_DEFAULT_PASS: ${DB_ADMIN_PASS:-changeme_admin_password}
      RABBITMQ_ENABLE_PLUGINS: rabbitmq_management,rabbitmq_mqtt
    ports:
      - '1883:1883'
      - '5672:5672'
      - '172.17.0.1:59043:15672'
    volumes:
      - './rootfs/db/rabbitmq:/var/lib/rabbitmq'
      - './rootfs/config/rabbitmq/plugins:/etc/rabbitmq/enabled_plugins'
    extra_hosts:
      - 'rabbitmq:127.0.0.1'
      - 'host.docker.internal:host-gateway'
    networks:
      - rabbitmq

networks:
  rabbitmq:
    name: rabbitmq
    external: false
